<nav class="uk-navbar-container bg_style navbar_position uk-navbar-sticky" uk-sticky="bottom: #top"  uk-navbar>

  <div class="uk-navbar-left">

    <!--Menu items-->
    <ul class="uk-navbar-nav"  >

      <li *ngIf="!libraryService.listView; else cardView_icon">
        <a (click)="libraryService.toggleListView()"><span uk-icon="icon : list"></span></a>
      </li>
      <ng-template #cardView_icon>
        <li>
          <a (click)="libraryService.toggleListView()"><span uk-icon="icon : grid"></span></a>
        </li>
      </ng-template>

      <li [routerLinkActive]="['active']">
        <a [routerLink]="[url]" [queryParams]="{type: 'movie'}" (click)="setType('movie')">Movies</a>
      </li>

      <li [routerLinkActive]="['active']">
        <a [routerLink]="[url]" [queryParams]="{type: 'tv'}" (click)="setType('tv')">series</a>
      </li>

      <li><div class="list_elements uk-navbar-item">|</div></li>

      <li>
        <div class="list_elements uk-navbar-item">Sort by:</div>
      </li>

      <li [routerLinkActive]="['active']">
        <a (click) = "toggleNameSort()"[routerLink]="[url]" [queryParams]="{type: type , sort_by: nameSort} ">
          Name
          <div *ngIf = "nameArrow === 'up'; else nameDown">
            <span uk-icon="icon : arrow-up"></span>
          </div>
          <div #nameDown *ngIf = "nameArrow === 'down'">
            <span uk-icon="icon : arrow-down"></span>
          </div>
        </a>
      </li>

      <li [routerLinkActive]="['active']">
        <a (click) = "toggleRatingSort()" [routerLink]="[url]" [queryParams]="{type: type , sort_by: ratingSort} ">
          Rating
          <div *ngIf = "ratingArrow === 'up'; else ratingDown">
            <span uk-icon="icon : arrow-up"></span>
          </div>
          <div #ratingDown *ngIf = "ratingArrow === 'down'">
            <span uk-icon="icon : arrow-down"></span>
          </div>
        </a>
      </li>

      <li [routerLinkActive]="['active']">
        <a  (click) = "toggleDateSort()" [routerLink]="[url]" [queryParams]="{type: type , sort_by: dateSort} ">
          Date
          <div *ngIf = "dateArrow === 'up'; else dateDown">
            <span uk-icon="icon : arrow-up"></span>
          </div>
          <div #dateDown *ngIf = "dateArrow === 'down'">
            <span uk-icon="icon : arrow-down"></span>
          </div>
        </a>
      </li>
    </ul>

  </div>

  <div class="uk-navbar-right">
  <form class="uk-search uk-search uk-border-rounded">
    <a href="" class="uk-search-icon-flip" uk-search-icon></a>
    <input class="uk-search-input" type="search" placeholder="Search library...">
  </form>
  </div>

</nav>
