.bg_style {
  background-color: #555555;
}

.navbar_position {
  padding-left: 16rem;
  padding-right: 16rem;
  margin-top: -1.2rem;
  height: 2rem;
  z-index: 199;
  display: flex;

}

.list_elements {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #777;
}

.uk-icon{
  padding-right: 0.5rem;
}

.uk-search-input{
  background-color: #444444;
  padding-left: 0.5rem;
  padding-right: 1.8rem;

}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  height: auto;
}

.uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a.uk-open, .uk-navbar-nav>li>a:focus{
  color: #00d377;

}
.activeClass {
  color: #00d377;
}
