.title_text {
  font-size: 1.2rem;
  color: white;
  max-width: 200px;
  flex-grow: 2;
}

.subtitle_text {
  font-size: 0.6rem;
  flex-grow: 1;
}

.list_elements{
  padding-left: 2rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;

}

.uk-label{
  background-color: white;
  color: black;
  font-size: 0.65rem;
}

.title_content{
  margin: 0;
}

img {
  max-width: 10rem;
  padding-right: 1rem;
}

.desc_container{
  display: flex;
}

.uk-open{
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #222222;
  box-shadow: 0 14px 25px rgba(0,0,0,.16);
}

.uk-list-divider>li:nth-child(n+2){

  border-bottom-width: 1px;
  margin: 0;
  border-color: #777777;
}

.uk-list-divider>li:nth-last-child(1){

  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 0;
  border-color: #777777;
}

h1{
  color: #777777;
}

.uk-button{
  font-size: 0.6rem;
  padding:0;
  line-height:10px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  width: 100.5px;
  background-color: #00d377;
  min-height: 1.8rem;
  flex-shrink: inherit;
}

.button_add{
  background-color: #00d377;
  color: white;
}

.button_add:hover{
  background-color: #00a85f;
  color: white;
}

.button_remove{
  background-color: #663399;
  color: white;
}

.button_remove:hover{
  background-color: #4f2778;
  color: white;
}

.flex_box{
  flex-direction: column;
}

.uk-accordion-title::after{
  background-color: black;
  max-height: 1.85rem;
}

.uk-open>.uk-accordion-title::after{
  background-color: inherit;
  max-height: 1.85rem;
}

.uk-card-hover:not(.uk-card-default):not(.uk-open):not(.uk-card-primary):not(.uk-card-secondary):hover {
  background-color: #444444;
}

.uk-card-hover:not(.uk-card-default):not(.uk-card-primary):not(.uk-card-secondary):hover {
  background-color: #222222;
}

.rating_item {
  font-size: 3rem;
}

.interval_good {
  color: #00D377;
}

.interval_ok {
  color: #E3D83F;
}

.interval_bad {
  color: #982D84;
}

.interval_null {
  color: #909090;
  font-size: 0.6rem;
}

.rating_wrapper{
  padding-left: 2rem;
}

.rating_wrapper > * {
  padding-left: 0.5rem;
}

.of_ten {
  margin-top: 2.12rem;
}

.icon_padding{
  padding-left: 0.3rem;
}

.rating_text{
  font-size: 1rem;
  padding-right: 0.3rem;
}

.watchlist_button_disabled{
  background-color: #777777;
  pointer-events: none;
  color: white;
}
