<div *ngIf="service.listView">
  <!------------Render Movies------------>
  <!--List View Container-->
  <div  class=" uk-text-left uk-flex-center uk-margin-remove uk-animation-slide-bottom-small" style="  padding-left: 2rem;">
    <!--If Movies is empty-->
    <div *ngIf="service.isEmpty(type)" class="uk-flex uk-flex-center uk-padding-large empty_text">
      <h1>No {{ type === 'movie' ? 'movies' : 'series' }} in {{childOf}} </h1>
    </div>
    <!--ListView-->
    <ul uk-accordion="collapsible: false" class=" uk-padding-small uk-list uk-list-divider ">

      <!--ListElement-->
      <li *ngFor="let card of getList()" class="list_elements uk-card-hover" >

        <!--Title-->
        <h3 class="uk-accordion-title title_content title_text uk-display-inline">{{card.title}}</h3>
        <!--Year-->
        <p class="title_content uk-text-muted subtitle_text uk-display-inline">{{ card.date.getFullYear() }}</p>

        <!--Rating-->
        <span class="interval_{{ roundToInterval(card.rating) }} icon_padding" uk-icon="icon: star"></span>
        <p class="uk-display-inline rating_text interval_{{ roundToInterval(card.rating) }}">{{card.rating === 0 ? 'No rating' : card.rating.toFixed(1).toString()}}</p>

        <!--Genres-->
        <h3 *ngFor="let genre of card.slicedGenres" class="title_content subtitle_text uk-display-inline">
          <span class="uk-label">{{ genre }}</span> </h3>

        <!--Card Buttons-->
        <div class="uk-button-group uk-float-right ">

          <!--Watchlist buttons-->
          <!--Add to watchlist-->
          <button *ngIf='!card.watchlist; else removeWatchList'
                  onclick="UIkit.notification({
                message: '<span uk-icon=\'icon: check\'></span> Successfully added to watchlist!',
                pos: 'bottom-center', status:'success', timeout: '2500'})"
                  (click)="addToWatchlist(card)"
                  class="uk-button uk-text-nowrap"
                  [ngClass]="card.library ? 'watchlist_button_disabled': 'button_add'" >
            <label>Add to <br>watchlist</label>
          </button>

          <!--Remove from watchlist-->
          <ng-template #removeWatchList>
            <button (click)="addToWatchlist(card)"
                    onclick="UIkit.notification({
                  message: '<span uk-icon=\'icon: trash\'></span> Deleted from watchlist!',
                  pos: 'bottom-center', status:'danger', timeout: '2500'})"
                    class="uk-button uk-text-nowrap button_remove">
              <label>Remove</label>
            </button>
          </ng-template>

          <!--Library buttons-->

          <!--Add to library-->
          <button *ngIf='!card.library; else removeLibrary'
                  onclick="UIkit.notification({
                message: '<span uk-icon=\'icon: check\'></span> Successfully added to library!',
                pos: 'bottom-center', status:'success', timeout: '2500'})"
                  (click)="addToLibrary(card)"
                  class="uk-button uk-text-nowrap button_add">
            <label>Add to <br>library</label>
          </button>

          <!--Remove from library-->
          <ng-template #removeLibrary>
            <button (click)="addToLibrary(card)"
                    onclick="UIkit.notification({
                  message: '<span uk-icon=\'icon: trash\'></span> Deleted from library!',
                  pos: 'bottom-center', status:'danger', timeout: '2500'})"
                    class="uk-button uk-text-nowrap button_remove">
              <label>Remove</label>
            </button>
          </ng-template>

        </div>

        <!--Content-->
        <div class="uk-accordion-content desc_container" >

          <!--Image-->
          <div>
            <img src="{{ card.image }}" alt="" class="uk-display-inline uk-width-auto">
          </div>

          <div class="flex_box">
            <!--Description-->
            <div class=" uk-container-small uk-display-inline" >
              <p class="uk-display-inline ">
                {{ card.overview2 }}
              </p>
            </div>

          </div>
        </div>
      </li>

    </ul>
  </div>


</div>


