.card_container {
  margin-right: 35px;
  height: 300px;
  overflow:hidden;
}

.title_text {
  font-size: 1.6vw;
  padding-top: 5px;
}

.subtitle_text {
  font-size: 0.6rem;
}

.desc_text {
  font-size: 0.8rem;
}

.uk-label {
  font-size: 0.45rem;
}

.uk-divider-small::after{
  width: 100%;
  margin-top: 10px;
}

.img_size {
  height: 100%;
  width: 100%

}
