.bg_style {
  background-color: #222222;
  height: 4rem;
}

.navbar_position {
  padding-left: 16rem;
  padding-right: 16rem;
  z-index: 999;
  box-shadow: -0.2px 5px 1px #222222;

}


.uk-navbar-nav>li>a {

  color: white;
  font-size: 1.5rem;
}


.uk-navbar-nav>li>a.uk-open{

  color: #777777;

}
.uk-navbar-nav>li>a:focus {

  color: #777777;

}
.uk-navbar-nav>li:hover>a {

  color: #777777;

}

.uk-navbar-toggle{
  height: auto;
}

.uk-navbar-item{
  height:auto;
}

.uk-navbar-item>li>a {
  height: auto;
}
