<nav class="uk-navbar-container bg_style navbar_position uk-navbar-sticky uk-box-shadow-small" uk-sticky="bottom: #top" uk-navbar>

  <div class="uk-navbar-left  nav-overlay">

    <!--Menu items NOT logged in-->
    <ul class="uk-navbar-nav" *ngIf="!userService.loggedIn; else loggedIn_menu">
      <li>
        <a [routerLinkActive]="['active']" [routerLink]="['home']">Discover</a>
      </li>
      <li>
        <a>library</a>
          <div uk-drop="animation: uk-animation-slide-top-small; duration: 100">
            <div class="uk-card-small uk-card-body uk-card-secondary uk-margin-remove hover_style" ><span uk-icon="icon : lock; ratio: 0.9" class="icon_center"></span>You are not logged in</div>
          </div>
      </li>
      <li>
        <a>Watchlist</a>
        <div uk-drop="animation: uk-animation-slide-top-small; duration: 100">
          <div class="uk-card-small uk-card-body uk-card-secondary uk-margin-remove hover_style" ><span uk-icon="icon : lock; ratio: 0.9" class="icon_center"></span>You are not logged in</div>
        </div>
      </li>
    </ul>

    <!--Menu items logged in-->
    <ng-template #loggedIn_menu>
      <ul class="uk-navbar-nav menubar_items">
        <li >
          <a [routerLinkActive]="['active']" [routerLink]="['home']">Discover</a>
        </li>
        <li>
          <a [routerLinkActive]="['active']" [routerLink]="['library']">library</a>
        </li>
        <li>
          <a [routerLinkActive]="['active']" [routerLink]="['watchlist']">Watchlist</a>
        </li>
      </ul>
    </ng-template>

  </div>

  <!--Search toggle button-->
  <div class="nav-overlay uk-navbar-right navbar_search">
    <div id="search_text" class="uk-navbar-toggle" id="search_text" uk-toggle="target: .nav-overlay; animation: uk-animation-fade">Search <span uk-icon="icon : search;" id="search_icon"></span></div>
  </div>

  <!--Search overlay-->
  <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
    <div class="uk-navbar-item uk-width-expand">
      <form class="uk-search uk-search-navbar uk-width-1-1">
        <input
          class="uk-search-input"
          type="search"
          placeholder="Search..."
          value="{{searchService.query}}"
          autofocus
          [(ngModel)]="search"
          (ngModelChange)="onSearchChange($event)"
          [ngModelOptions]="{standalone: true}"
        >
      </form>
    </div>
    <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#" (click)="cleanSearchField()"></a>
  </div>

  <!--Google Login-->
  <div class="uk-navbar-right uk-margin-remove uk-position-right">
    <div class="uk-navbar-item" *ngIf="!userService.loggedIn; else loggedIn">
      <a href="/auth/google" >
        <div class="uk-inline">

          <!--Log in button-->
          <button class="uk-button uk-button-secondary">
            <span uk-icon="icon : google-plus" ></span>
            Log in
          </button>

        </div>
      </a>
    </div>
  </div>

</nav>

<ng-template #loggedIn>
  <div class="uk-navbar-item">
    <div class="uk-inline">

      <!--Log in button-->
      <button class="uk-button uk-button-secondary">
        {{ userService.user.firstName }} {{ userService.user.lastName.charAt(0) }}.
      </button>

      <!--Dropdown menu user-->
      <div uk-dropdown>
        <ul class="uk-nav  uk-dropdown-nav">
          <li class="uk-active"><a (click)="userService.logout()">Log out</a></li>
          <li><a [routerLink]="['user']">Profile</a></li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>

