<!--Card Container-->
<div class="uk-card uk-card-small uk-card-hover uk-card-secondary uk-child-width-1-2  " uk-grid>

  <!--Card Image-->
  <div class="uk-card-media-left uk-cover-container ">
    <img src="{{ cardImgSrc }}" alt="" uk-cover>
    <canvas width="100" height='300'></canvas>
  </div>

  <!--Card Body-->
  <div class="uk-card-body">
    <div>

      <!--Card Title-->
      <h3 class="uk-card-title"> {{ cardTitle }} </h3>
      <p class="uk-text-small uk-text-muted">{{ cardDesc }}</p>

    </div>

    <!--Card footer-->
    <div class="uk-card-footer ">

      <!--Progress bar-->
      <progress class="uk-progress" value="4" max="10"></progress>
    </div>

  </div>

</div>


