<app-filter [searchPlaceholder]="'Search in watchlist...'"></app-filter>

<div class="uk-container uk-width-auto uk-margin-remove">

  <!--Grid Row Container-->

  <div uk-grid *ngIf="type=='movie'" class="uk-text-left uk-animation-slide-bottom-small uk-flex-center">
    <app-card *ngFor="let card of watchlistService.watchlistMovie" [element]="card"></app-card>
  </div>

  <div uk-grid *ngIf="type=='tv'" class="uk-text-left uk-animation-slide-bottom-small uk-flex-center">
    <app-card *ngFor="let card of watchlistService.watchlistTv" [element]="card"></app-card>
  </div>

</div>
