<div>
  <div class="uk-container">
    <h2 class="uk-light">Discover movies and tv-series</h2>

    <div class="uk-position-relative uk-animation-slide-top-medium" uk-slideshow="ratio: 7:3">
        <ul class="uk-slideshow-items">
          <app-slideshow-item [movie]="movies[0]"></app-slideshow-item>
          <app-slideshow-item [movie]="movies[1]"></app-slideshow-item>
          <app-slideshow-item [movie]="movies[2]"></app-slideshow-item>
          <app-slideshow-item [movie]="movies[3]"></app-slideshow-item>
          <app-slideshow-item [movie]="movies[4]"></app-slideshow-item>
          <app-slideshow-item [movie]="movies[5]"></app-slideshow-item>
          <app-slideshow-item [movie]="movies[6]"></app-slideshow-item>
          <app-slideshow-item [movie]="movies[7]"></app-slideshow-item>
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover navigation" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover navigation" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
      </div>

    <!--div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="ratio: 7:3" data-uk-observe>
      <ul class="uk-slideshow-items">
        <li *ngFor="let movie of movies">
          <div>
            <img uk-cover="" src="{{movie.poster}}" alt="It" class="uk-cover">
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
              <h3 class="uk-margin-remove">{{movie.title}}</h3>
              <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </li>
      </ul>
      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div-->

    <h2 class="uk-heading-line uk-text-right uk-light"><span>Discover movies</span></h2>
    <div class="uk-text-left uk-animation-slide-bottom-small uk-flex-center" uk-grid>
      <span class="uk-flex uk-flex-middle navigation2" uk-icon="icon: chevron-left; ratio: 2;" (click)="prevObject()"></span>
      <app-card *ngFor="let movie of (movies | slice:0:2)" [element]="movie"></app-card>
      <span class="uk-flex uk-flex-middle navigation2" uk-icon="icon: chevron-right;  ratio: 2;" (click)="nextObject()"></span>
    </div>

    <h2 class="uk-heading-line uk-text-right uk-light"><span>Discover tv-series</span></h2>
    <div class="uk-text-left uk-animation-slide-bottom-small uk-flex-center" uk-grid>
      <span class="uk-flex uk-flex-middle navigation2" uk-icon="icon: chevron-left; ratio: 2;" (click)="prevObject()"></span>
      <app-card *ngFor="let movie of (movies | slice:0:2)" [element]="movie"></app-card>
      <span class="uk-flex uk-flex-middle navigation2" uk-icon="icon: chevron-right;  ratio: 2;" (click)="nextObject()"></span>
    </div>

  </div>
</div>
