<div>
  <div class="uk-container">

    <!-- Top slideshow-->
    <div class="uk-position-relative uk-light"
         uk-slideshow="ratio: 7:3; velocity: 1; autoplay: true; pause-on-hover: true; autoplay-interval: 4000;">
      <ul class="uk-slideshow-items uk-animation-slide-top-medium">
        <app-slideshow-item [movie]="movies[0]"></app-slideshow-item>
        <app-slideshow-item [movie]="movies[1]"></app-slideshow-item>
        <app-slideshow-item [movie]="movies[2]"></app-slideshow-item>
        <app-slideshow-item [movie]="movies[3]"></app-slideshow-item>
        <app-slideshow-item [movie]="movies[4]"></app-slideshow-item>
        <app-slideshow-item [movie]="movies[5]"></app-slideshow-item>
        <app-slideshow-item [movie]="movies[6]"></app-slideshow-item>
        <app-slideshow-item [movie]="movies[7]"></app-slideshow-item>
      </ul>
      <a class="uk-position-center-left uk-position-small uk-hidden-hover navigation" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover navigation" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>

    <!--Discover movies-->

    <!--Slideshow Header-->
    <div class="uk-flex uk-flex-middle uk-flex-center uk-margin-remove ">
      <hr class="uk-divider-small uk-margin-remove">
      <h2 class="uk-light uk-margin-remove uk-padding-small">Discover movies</h2>
      <hr class="uk-divider-small uk-margin-remove">
    </div>

    <!--Slideshow container-->
    <div class="uk-position-relative uk-visible-toggle uk-light "
         uk-slideshow="max-height: 20rem; animation: slide; velocity: 1; autoplay: true; pause-on-hover: true; autoplay-interval: 5500;" >

      <!--Slideshow List-->
      <ul class="uk-slideshow-items uk-height-max-large slideshow_box">
        <li>
          <!--Slideshow shown items-->
          <div class="uk-card uk-cover uk-flex ">
            <app-card class=" uk-flex-left uk-display-inline slideshow_item" [element]="moviesSliced[0]"></app-card>
            <app-card class=" uk-flex-right uk-display-inline slideshow_item" [element]="moviesSliced[1]"></app-card>
          </div>
        </li>

        <li>
          <!--Slideshow next items-->
          <div class="uk-card uk-cover uk-flex ">
            <app-card class=" uk-flex-left uk-display-inline slideshow_item" [element]="moviesSliced[0]"></app-card>
            <app-card class=" uk-flex-right uk-display-inline slideshow_item" [element]="moviesSliced[1]"></app-card>
          </div>
        </li>
      </ul>

      <!--Slideshow buttons-->
      <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-animation-slide-left"  uk-slidenav-previous uk-slideshow-item="previous" (click)="prevObject('movie')"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-animation-slide-righ" uk-slidenav-next uk-slideshow-item="next" (click)="nextObject('movie')"></a>
    </div>

    <!--Discover series-->

    <!--Slideshow Header-->
    <div class="uk-flex uk-flex-middle uk-flex-center uk-margin-remove ">
      <hr class="uk-divider-small uk-margin-remove">
      <h2 class="uk-light uk-margin-remove uk-padding-small">Discover tv-series</h2>
      <hr class="uk-divider-small uk-margin-remove">
    </div>
    <!--Slideshow container-->
    <div class="uk-position-relative uk-visible-toggle uk-light "
         uk-slideshow="max-height: 20rem; animation: slide; velocity: 1; autoplay: true; pause-on-hover: true;" >

      <!--Slideshow List-->
      <ul class="uk-slideshow-items uk-height-max-large slideshow_box">
        <li>
          <!--Slideshow shown items-->
          <div class="uk-card uk-cover uk-flex ">
            <app-card class=" uk-flex-left uk-display-inline slideshow_item" [element]="tvSliced[0]"></app-card>
            <app-card class=" uk-flex-right uk-display-inline slideshow_item" [element]="tvSliced[1]"></app-card>
          </div>
        </li>

        <li>
          <!--Slideshow next items-->
          <div class="uk-card uk-cover uk-flex ">
            <app-card class=" uk-flex-left uk-display-inline slideshow_item" [element]="tvSliced[0]"></app-card>
            <app-card class=" uk-flex-right uk-display-inline slideshow_item" [element]="tvSliced[1]"></app-card>
          </div>
        </li>
      </ul>

      <!--Slideshow buttons-->
      <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-animation-slide-left"  uk-slidenav-previous uk-slideshow-item="previous" (click)="prevObject('tv')"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-animation-slide-right" uk-slidenav-next uk-slideshow-item="next" (click)="nextObject('tv')"></a>
    </div>

  </div>
</div>
