<div class="uk-container uk-container-small">
  <div class="uk-margin-remove uk-animation-slide-bottom-small uk-flex-center uk-child-width-1-2@m" uk-grid>

    <!--User info-->
    <div class="uk-card uk-card-secondary">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <img class="uk-border-circle" width="40" height="40" src="{{ userService.user.image }}">
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">{{ userService.user.name }}</h3>
            <p class="uk-text-meta uk-margin-remove-top">{{ userService.user.email }}</p>
          </div>
        </div>
      </div>
      <div class="uk-card-body">

        <p>You joined Unwatched: <br> <i>{{getDate()}}</i></p>
        <p>Last time your profile was updated: <br><i>{{ getUpdated()}}</i></p>

      </div>
      <div class="uk-card-footer">
        <a class="uk-button uk-button-danger" (click)="delete()">Delete my UnWatched profile</a>
      </div>
    </div>

    <!--Average library rating-->
    <div class="uk-card uk-card-secondary usercard statistics_container">
      <div class="uk-card-header">
        <div class="uk-grid-small" uk-grid>
          <div>
            <h4 class="uk-card-title uk-margin-remove-bottom">Library rating</h4>
          </div>
        </div>
      </div>
      <div class="cloud_container">
        <app-average-rating></app-average-rating>
      </div>
    </div>

    <!--Library cloud-->
    <div class="uk-card uk-card-secondary usercard statistics_container">
      <div class="uk-card-header">
        <div class="uk-grid-small" uk-grid>
          <div>
            <h4 class="uk-card-title uk-margin-remove-bottom">Favourites</h4>
          </div>
        </div>
      </div>
      <div class="cloud_container">
        <app-word-cloud></app-word-cloud>
      </div>
    </div>

    <!--Overall cloud-->
    <div class="uk-card uk-card-secondary usercard statistics_container">
      <div class="uk-card-header">
        <div class="uk-grid-small" uk-grid>
          <div>
            <h4 class="uk-card-title uk-margin-remove-bottom">Desires</h4>
          </div>
        </div>
      </div>
      <div class="cloud_container">
        <app-word-cloud-wish></app-word-cloud-wish>
      </div>
    </div>

    <!--User Search History-->
    <div class="uk-card uk-card-secondary usercard uk-width-expand@m">
      <div class="uk-card-header">
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">Curiosity history</h3>
          </div>
        </div>
      </div>
      <div>
        <div *ngIf="historyService.isEmpty()" class="uk-flex uk-flex-center uk-padding">
          <h4 class="uk-text-muted"> You have to visit a movie or serie to get history. </h4>
        </div>
        <ul>
          <div *ngFor="let history of historyService.history">
            {{ history.content }}
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
