.app_body {
  min-height: 100%;
  width: 100%;
  margin-bottom: - 100px;
  display: table;
}

app-navbar,
router-outlet,
app-footer{
  display: table-row;
}

app-navbar {
  height: 55px;
}

router-outlet {
  position: absolute;
}

app-footer {
  height: 2rem;
}
