<!--Not found page cloud-->

<div class="bg_not_found uk-height-viewport  ">
  <div class="text_box ">
        <h1 class="uk-margin-remove">404</h1>
        <h2 class="uk-margin-remove">Line not found</h2>
  </div>

</div>






<!--
<div class="cloud_wrapper uk-margin-remove uk-flex-center">
  <div class="cloud uk-container"
       AgWordCloud
       #word_cloud_chart=ag-word-cloud
       [wordData]="wordData"
       [options]="options">
  </div>

  <div class="buttonHolder">
    <button (click)="word_cloud_chart.update()">Generate new cloud!</button>
  </div>
</div>-->
