.card_container {
  height: 300px;
  margin: 1px;
  margin-top: 1rem;
  overflow:hidden;
}

.title_text {
  font-size: 1.5rem;
  padding-top: 5px;
}

.subtitle_text {
  font-size: 0.6rem;
}

.desc_text {
  font-size: 0.8rem;
}

.uk-label {
  font-size: 0.45rem;
}

.uk-divider-small::after{
  width: 100%;
  margin-top: 10px;
}

.img_size {
  height: 100%;
  width: 100%;

}
.uk-button{
  font-size: 0.6rem;
  padding:0;
  line-height:10px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  width: 100.5px;
}

.button_not_logged_in{
  background-color: #555555;
  color: white;
}

.button_not_logged_in:hover{
  background-color: #444444;
  color: white;
}

