<!--Card Container-->
<div class="uk-card uk-card-small uk-card-hover uk-card-secondary uk-child-width-1-2  card_container"  style="min-width: 400px; max-width: 400px;"  uk-grid>

  <!--Card Image-->
  <div class="uk-card-media-left uk-cover-container">
    <img src="{{ element.image }}" alt="" class="img_size" uk-cover>
  </div>

  <!--Card Body-->
  <div class="uk-padding-remove">

      <!--Card Description-->
      <div class="uk-padding-small">
        <div>

          <!--Card Title-->
          <h3 class="title_text uk-display-inline "> {{ element.title }} </h3>
          <p class=" uk-display-inline uk-text-muted subtitle_text">{{ element.date.getFullYear() }}</p>
          <h3 class="uk-margin-remove subtitle_text"><span class="uk-label">{{ element.genres }}</span> </h3>
          <hr class="uk-divider-small uk-margin-remove" />
          <p class="uk-text-muted desc_text uk-text-break ">{{ element.overview }}</p>

        </div>
      </div>

    <!--Card Buttons-->
    <div class="uk-card-footer uk-padding-remove uk-position-bottom-right">
      <div class="uk-button-group  ">

        <button class="uk-button uk-text-nowrap button_not_logged_in uk-disabled">
          <label>Add to<br>library</label>
        </button>

        <button class="uk-button uk-text-nowrap button_not_logged_in uk-disabled">
          <label>Add to <br>watchlist</label>
        </button>
      </div>
    </div>

  </div>

</div>
