/* You can add global styles to this file, and also import other style files */
@import "../node_modules/uikit/dist/css/uikit.min.css";

html{
 height: 100%;
}

body{
  height: 100%;
  background-color: #222222;
}
