<div>
  <form class="uk-search uk-search-navbar">
    <span uk-search-icon></span>
    <input
      class="uk-search-input"
      [(ngModel)]="search"
      (ngModelChange)="onChange($event)"
      [ngModelOptions]="{standalone: true}"
      type="search"
      placeholder="Search..."
    >
  </form>

</div>



<div class="uk-container">

  <!--Grid Row Container-->
  <div class="uk-child-width-1-3 uk-text-left uk-animation-slide-bottom-small" uk-grid>

    <!--Card-->

    <app-card *ngFor="let result of searchService.results"
              [movieID]="result.movieID"
              [cardTitle]="result.title"
              [cardDesc]="result.content"
              [cardImgSrc]="result.imgSrc"
              [movieRating]="result.rating"
              [movieYear]="result.year"
              [movieGenre]="result.genre"
    ></app-card>

  </div>
</div>
