.card_container {
  height: 300px;
  margin: 1px;
  margin-top: 1rem;
  overflow:hidden;
}

.card_size{
  min-width: 400px;
  max-width: 400px;
}

.zoom_icon{
  height: 2.5rem;
  padding: 8px
}

.poster_size{
  height: 45vw;
}

.title_text {
  font-size: 1.2rem;
}

.subtitle_text {
  font-size: 0.6rem;
}

.rating_text{
  font-size: 1rem;
  margin:0;

}

.rating_container{
  padding-top: 0.2rem;
  padding-bottom: -0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.desc_text {
  font-size: 0.8rem;
}

.uk-label {
  background-color: rebeccapurple;
}

.uk-card-secondary>:not([class*=uk-card-media]) .uk-label{
  background-color: white;
  color: black;
  font-size: 0.65rem;
}

.uk-divider-small::after{
  width: 100%;
  margin-top: 10px;
}

.img_size {
  height: 100%;
  width: 100%;

}
.uk-button{
  font-size: 0.6rem;
  padding:0;
  line-height:10px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  width: 100.5px;
}

.button_add{
  background-color: #00d377;
  color: white;
  box-shadow: 2px -10px 5px #222222;
  z-index: 100;
}

.button_add:hover{
  background-color: #00a85f;
  color: white;
}

.button_disabled{
  background-color: #777777;
  color: white;
  box-shadow: 2px -10px 5px #222222;
  z-index: 100;
  width: 200px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  line-height:10px;
}

.watchlist_button_disabled{
  background-color: #777777;
  pointer-events: none;
  color: white;
}

.button_remove{
  background-color: #663399;
  color: white;
  box-shadow: 3px -10px 5px #222222;
  z-index: 100;

}

.button_remove:hover{
  background-color: #4f2778;
  color: white;
}

.uk-modal-full .uk-modal-dialog, .uk-modal-footer, .uk-modal-header{
 background-color: #222222;
}
.uk-modal-close-full{
  background-color: transparent;
}

.uk-h1, .uk-close:focus, .uk-close:hover, h1{
  color: white;
}

.uk-modal-full .uk-modal-dialog .uk-label {
  font-size: 1rem;
  background-color: white;
  color: black;
}

.button_padding{
  padding: 1rem;
}

.rating_item {
  font-size: 3rem;
}

.interval_good {
  color: #00D377;
}

.interval_ok {
  color: #E3D83F;
}

.interval_bad {
  color: #982D84;
}

.interval_null {
  color: #909090;
  font-size: 0.6rem;
}

.rating_wrapper{
  padding-left: 2rem;
}

.rating_wrapper > * {
  padding-left: 0.5rem;
}

.of_ten {
  margin-top: 2.12rem;
}

.icon_padding{
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}
