<!--Card Container-->
<div class="uk-card uk-card-small uk-card-hover uk-card-secondary uk-child-width-1-2  card_container"  style="min-width: 400px; max-width: 400px;"  uk-grid>


  <!--Poster Modal-->
  <div id="card-movieID-{{ element.id }}"  uk-modal >
    <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
      <button class="uk-modal-close-outside" type="button" uk-close></button>
      <img src="{{ element.poster }}" alt="" style="height: 45vw">
    </div>
  </div>

  <!--Card Image-->
  <div class="uk-card-media-left uk-cover-container">
    <img src="{{ element.image }}" alt="" class="img_size" uk-cover>
    <div class="uk-position-bottom-right ">
      <a href="#card-movieID-{{ element.id }}" class="uk-icon-link" uk-toggle>
        <img src="http://sachinchoolur.github.io/lightGallery/static/img/icons/zoom-w.png" alt="" style="height: 2.5rem; padding: 8px"/></a>
    </div>
    <!--<canvas width="100" height='300'></canvas>-->
  </div>

  <!--Card Body-->
  <div class="uk-padding-remove">

    <!--Modal toggle-->
    <a (click)="addToHistory()" href="#item_modal-{{ element.id }}" class="uk-link-reset" uk-toggle>

      <!--Card Description-->
      <div class="uk-padding-small">
        <div>

          <!--Card Title-->
          <h3 class="title_text uk-display-inline "> {{ element.title }} </h3>
          <p class=" uk-display-inline uk-text-muted subtitle_text">{{ element.date.getFullYear() }}</p>
          <h3 class="uk-margin-remove subtitle_text"><span class="uk-label">{{ element.genres }}</span> </h3>
          <hr class="uk-divider-small uk-margin-remove" />
          <p class="uk-text-muted desc_text uk-text-break ">{{ element.overview }}</p>

        </div>
      </div>
    </a>

    <!--Card Buttons-->
    <div class="uk-card-footer uk-padding-remove uk-position-bottom-right">
      <div class="uk-button-group  ">

        <!--Watchlist buttons-->

        <!--Add to watchlist-->
        <button *ngIf="userService.loggedIn && !element.watchlist; else removeWatchList"
                onclick="UIkit.notification({
                message: '<span uk-icon=\'icon: check\'></span> Successfully added to watchlist!',
                pos: 'bottom-center', status:'success', timeout: '2500'})"
                (click)="addToWatchlist()"
                class="uk-button uk-text-nowrap button_add" >
          <label>Add to <br>watchlist</label>
        </button>

        <!--Remove from watchlist-->
        <ng-template #removeWatchList>
          <button *ngIf="userService.loggedIn" (click)="addToWatchlist()"
                  onclick="UIkit.notification({
                  message: '<span uk-icon=\'icon: trash\'></span> Deleted from watchlist!',
                  pos: 'bottom-center', status:'danger', timeout: '2500'})"
                  class="uk-button uk-text-nowrap button_remove">
            <label>Remove</label>
          </button>
        </ng-template>

        <!--Library buttons-->

        <!--Add to library-->
        <button *ngIf="userService.loggedIn && !element.library; else removeLibrary"
                onclick="UIkit.notification({
                message: '<span uk-icon=\'icon: check\'></span> Successfully added to library!',
                pos: 'bottom-center', status:'success', timeout: '2500'})"
                (click)="addToLibrary()"
                class="uk-button uk-text-nowrap button_add">
          <label>Add to <br>library</label>
        </button>

        <!--Remove from library-->
        <ng-template #removeLibrary>
          <button *ngIf="userService.loggedIn" (click)="addToLibrary()"
                  onclick="UIkit.notification({
                  message: '<span uk-icon=\'icon: trash\'></span> Deleted from library!',
                  pos: 'bottom-center', status:'danger', timeout: '2500'})"
                  class="uk-button uk-text-nowrap button_remove">
            <label>Remove</label>
          </button>
        </ng-template>

      </div>
    </div>

  </div>



</div>

<!-- Modal-->
<div id="item_modal-{{ element.id }}" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog back">
    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
    <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-top uk-text-left" uk-grid>
      <div class="uk-background-cover" [ngStyle]="{ 'background-image': 'url(' +  element.poster  + ')'}" uk-height-viewport></div>
      <div class="uk-padding-small padding-top-large ">

        <!--Modal Header-->
        <div class="uk-modal-header">
          <h1 class="uk-margin-remove uk-display-inline">{{ element.title }}</h1>
          <h1 class=" uk-display-inline uk-text-muted uk-text-muted"> ({{ element.date.getFullYear() }})</h1>
          <h3 class="uk-margin-remove genere_modal"><span class="uk-label">{{ element.genres }}</span> </h3>
        </div>

        <!--Modal body-->
        <div class="uk-modal-body uk-text-muted" >
          <p>{{ element.overview2 }}</p>
          <div class="uk-width-auto">
            <!--<iframe src="https://www.youtube.com/embed/3dr2zW9DRnE?rel=0&amp;controls=0&amp;showinfo=0"
                    frameborder="0" allowfullscreen width="560" height="315"
                    uk-responsive uk-video="automute: true; autoplay: false;"></iframe>-->
          </div>
          <div class="rating_container">
            <p class="uk-text-center">
              Ovarall TMDB rating:
              <div class="rating_item uk-text-center">{{element.rating === 0 ? '- / 10' : element.rating.toString() + ' / 10'}}</div>
          </div>
        </div>

        <!--Modal footer-->
        <div class="uk-modal-footer">
          <!--Card Buttons-->
            <div  class="uk-position-bottom-right">
              <div  *ngIf="userService.loggedIn" class="uk-button-group button_padding">
                <!--Add to watchlist-->
                <button (click) = "addToWatchlist(element.watchlist)"
                        class="uk-button uk-text-nowrap remove button_add uk-modal-close">
                  <label *ngIf='element.watchlist' >Remove</label>
                  <label *ngIf='!element.watchlist' >Add to <br>watchlist</label>
                </button>

                <!--Add to library-->
                <button (click) = "addToLibrary()" class="uk-button uk-padding-remove button_remove uk-modal-close">
                  <label *ngIf='element.library' >Remove</label>
                  <label *ngIf='!element.library' >Add to <br>library</label>
                </button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
